<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlp.springboot.mapper.UserMapper">
	<sql id="column">usr_id,usr_name,usr_password,usr_create_timestamp,
		usr_update_timestamp,usr_create_usr_id,usr_update_usr_id
	</sql>
	<select id="get" parameterType="User" resultType="User">
		select
		<include refid="column" />
		from user where usr_id = #{usr_id}
	</select>
	<insert id="insert" parameterType="User">
		<![CDATA[
			insert into user(
            		usr_name,
            		usr_password,
            		usr_create_timestamp,
            		usr_create_usr_id
            ) values (
            	#{usr_name,jdbcType=VARCHAR},
            	#{usr_password,jdbcType=VARCHAR},
            	#{usr_create_timestamp,jdbcType=TIMESTAMP},
            	#{usr_create_usr_id,jdbcType=VARCHAR}
            )
		]]>
		<selectKey keyProperty="usr_id" resultType="Long" order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
	</insert>
	<update id="update" parameterType="User">
		<![CDATA[
			update user set
				usr_name = #{usr_name,jdbcType=VARCHAR},
				usr_password = #{usr_password,jdbcType=VARCHAR},
				usr_update_timestamp = #{usr_update_timestamp,jdbcType=TIMESTAMP},
				usr_update_usr_id = #{usr_update_usr_id,jdbcType=VARCHAR}
				where usr_id = #{usr_id,jdbcType=VARCHAR}
		 ]]>
	</update>

	<delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	   		delete from user where
	        	usr_id = #{usr_id,jdbcType=VARCHAR}
	    ]]>
	</delete>

	<select id="list" parameterType="Map" resultType="User">
		select
		<include refid="column" />
		from user
	</select>
	
	<select id="page" parameterType="com.zlp.springboot.utils.Page" resultType="User">
		select
		<include refid="column" />
		from user
	</select>
</mapper>