<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlp.springboot.mapper.UserRoleRelationMapper">
	<insert id="insert" parameterType="UserRoleRelation">
		<![CDATA[
			insert into UserRoleRelation(
            		urr_usr_id,
            		urr_rol_id,
            		urr_create_timestamp,
            		urr_create_usr_id
            ) values (
            	#{urr_usr_id,jdbcType=VARCHAR},
            	#{urr_rol_id,jdbcType=VARCHAR},
            	#{urr_create_timestamp,jdbcType=TIMESTAMP},
            	#{urr_create_usr_id,jdbcType=VARCHAR}
            )
		]]>
	</insert>

	<delete id="deleteByUser" parameterType="java.lang.Long">
	    <![CDATA[
	   		delete from UserRoleRelation where
	        	urr_usr_id = #{urr_usr_id,jdbcType=VARCHAR}
	    ]]>
	</delete>
</mapper>